@charset "UTF-8";


@font-face{

    font-family: 'WebFont';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-1: #F5D04E;
    --cor-2: #F7CF4B;
}


body{
    background-color: var(--cor-1);
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#card{
    position: absolute;
    background-color: white;

    height: 450px;
    width: 320px;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    border-radius: 20px;
    border: 1px solid black;

    box-shadow: 9px 9px 0px black;
}


img#card-img{
    border-radius: 25px;

    width: 280px;

    display: block;

    margin: auto;
    margin-top: 20px;
}


p#learning{

    font-family: 'WebFont', sans-serif;

    font-size: 1em;
    font-weight: bold;
    
    margin: 20px 10px 10px 10px;
    padding: 9px;
    padding-top: 8px;
    width: 60px;
    
    background-color: var(--cor-2);
    
    border-radius: 10px;

    transition: background-color 1s, border-radius 1s, box-shadow 1s, padding 1s;
}

p#learning:hover{
    padding-right: 50px;
    box-shadow: 9px 9px 0px black;
    transition: 1s;
}

p#published{

    margin: 10px;
    font-family: 'WebFont', sans-serif;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
    padding: 0;
    transition: background-color 1s, border-radius 1s, box-shadow 1s, padding 1s;
    

    width: 170px;


}

p#published:hover{
    background-color: var(--cor-2);
    border-radius: 20px;
    box-shadow: 9px 9px 0px black;
    transition: 1s;
    padding-left: 5px;
    padding-right: 50px;
}

h1{
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: 'WebFont', sans-serif;
    color: var(--cor-2);
    width: 290px;
    border-radius: 20px;
    transition: background-color 1s, border-radius 1s, box-shadow 1s, padding 1s;
}

h1:hover{
    color: black;
    background-color: var(--cor-2);
    border-radius: 20px;
    padding-left: 5px;
    box-shadow: 9px 9px 0px black;
    transition: 1s;
}

p#definition{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

    font-family: 'WebFont', sans-serif;
    color: gray;
    font-size: 0.9em;

    border-radius: 20px;

    transition: background-color 1s, border-radius 1s, padding 1s, box-shadow 1s;
}

p#definition:hover{

    color: black;

    background-color: var(--cor-2);
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 20px;
    box-shadow: 9px 9px 0px black;
    transition: 1s;

}


img#photo{
    border-radius: 50%;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

p#name{
    display: inline;
    font-family: 'WebFont', sans-serif;
    font-weight: bolder;
}

div{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: none;
    padding: 0;
    transition: background-color 1s, border-radius 1s, box-shadow 1s, padding 1s;
    
}

a:hover{
    background-color: var(--cor-2);
    box-shadow: 9px 9px 0px black;
    padding: 5px;
    border-radius: 20px;
    transition: 1s;
}